@import "../../styles/variables";

.currency-dashboard {
  &__navigator {
    padding: 1rem;
    background-color: $primary-color;
    height: 3%;

    &__item {
      color: white;
      cursor: pointer;

      &:hover {
        color: #f3f3f3;
      }
    }
  }

  &__view {
    overflow: hidden auto;
    height: calc(100% - #{$navbar-height});
  }
}
